<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{{url('/login')}}">
    <style>
        .cards {
            padding: 10%;
            background-color: white;
            text-align: center;
            border-radius: 10px;
            box-shadow: 0px 0px 20px rgb(197, 197, 197);
        }

        .container {
            padding: 20%;
        }

        .btn {
            background-color: #FF964F !important;
            color: white;
            cursor: pointer;
        }

        .btn:hover {
            background-color: #FF964F !important;
            color: white;
        }
    </style>
</head>

<body>
    <div style="width: 100%;background-color:rgb(236, 236, 236)">
        <div class="container pt-5">
            <div class="cards card-body p-3 text-center shadow">
                <h2 class="mt-3" style="text-align: center">Selamat Datang di
                    <span style="color:#FF964F!important"> Sepaket!</span>
                </h2>
                <label class="mt-3" style="font-size: 10pt">
                    Terima Kasih telah bergabung dengan sepaket! Satu langkah terahkir untuk dapat bergabung dengan
                    sepaket dengan memverifikasi account, Anda dapat menekan tombol dibawah ini untuk memverifikasi
                </label>

                <br />
                <br />
                <br />

                <a style="border:none; border-radius:10px; color:white; padding-top:2%; padding-bottom:2%; padding-left:5%; padding-right:5%; margin-top:5%; cursor:pointer; background-color:#FF964F;"
                    href="<%= resetPasswordLink  %>">
                    Reset Password
                </a>

                <br />
                <br />
                <br />

                Atau salin url ini :
                <br />
                <%= resetPasswordLink %>
            </div>
        </div>
    </div>
</body>

</html>